*{
	margin:0px;
	padding:0px;
}
/*
*header  网页头部
*/
#title{
	width:100%;
	height:30px;
	background:rgb(245,245,245);
	overflow:hidden;
	line-height:30px;
}

#title a:link{
	color:rgb(165,165,165);
	text-decoration:none;
}
#title a:visited{
	color:rgb(165,165,165);
	text-decoration:none;
}
#title a:hover{
	color:red;
}
#title a:active{
	color:rgb(165,165,165);
	text-decoration:none;
}

.title_left{
	margin-left:80px;
	color:rgb(136,136,136);
	font-size:12px;
}
.title_right{
	margin-right:80px;
	color:rgb(136,136,136);
	font-size:12px;
}
.title_left>li{
	list-style:none;
	float:left;
	margin-right:20px;
}
.title_right>li{
	list-style:none;
	float:right;
	margin-left:30px;
}


/**
*中部
**/
#middle{
	width:100%;
	height:540px;
	background-color: #D1E0D7;
	padding:20px;
}
#middle_part{
	width:80%;
	height:540px;
	margin-left:10%;
	background-color: #D1E0D7;
}
.left_part{
	width:15%;
	height:540px;
	display:inline-block;
	vertical-align:top;
	margin-top:0px;
	margin-left:0px;
	background-color:#fff;
	text-align:center;
	line-height:50px;
	border-right:1px solid #D1E0D7;
}
.left_part a:link{
	color:rgb(0,0,0);
	text-decoration:none;
}
.left_part a:visited{
	color:rgb(0,0,0);
	text-decoration:none;
}
.left_part a:hover{
	color:rgb(0,0,0);
	text-decoration:none;
}
.left_part a:active{
	color:rgb(0,0,0);
	text-decoration:none;
}

.right_part{
	width:84%;
	height:540px;
	display:inline-block;
	vertical-align:top;
	margin-top:0px;
	margin-left:-5px;
	background-color:#fff;
	border:1px solid #EFF6F2;
}

#buycar{
	text-align:center;
}
#buycar td{
	width:150px;
	height:80px;
}
ul li{list-style:none;}

/**
*分页部分
*
*/
#page{
	margin-left:100px;
	overflow:hidden;
}
#page>p{
	display:inline-block;
	width:100px;
	float:left;
	text-align:center;
	
}








/*
*尾部
*/
#footer{
	width: 100%;
	height: 100px;
	text-align: center;
	padding-top:20px;
	background-color: #F5F5F5;
}